.post-new{
  width: 60%;
  position: fixed;
  background-color: white;


  img{
    height: 5vh;
    border-radius: 50%;
  }

  input{
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    width: 80%;

    &:focus{
      outline: none;
    }
  }

  button{
    border: none;
    border-radius: 50px;
    padding: 1% 2%;
    background-color: #B0413E;
    color: white;
    width: 20%;

    &:hover{
      cursor: pointer;
    }
  }
}